<div class="location_imgs">
    <div class="range-holder">
        <div id="pr-slider" class="dragdealer">
            <div class="stripe">
                <div class="handle">
                    <div class="infobox">
                        <div class="innerbox">
                            <div class="kilo_meter">20 k.m</div>
                        </div>
                    </div>
                    <div class="square">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>